@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

body {
  font-family: "Inter", sans-serif;
  /* font-family: "Open Sans", sans-serif; */
}

@theme {
  /* Mengganti font sans bawaan Tailwind menjadi Open Sans */
  --font-opensans: "Open Sans", sans-serif;
  --font-playwrite: "Playwrite CA Guides", cursive;
}
